
svg * {
  font-family : Corbel, Helvetica, sans-serif;
  font-size : 12px;
}
path, line {
  stroke : #000000;
  stroke-width : 1.5pt;
  fill : none;
}
path.chloro {
  stroke : #000000;
  stroke-width : 0.5pt;
  /*fill : none;*/
}
line.grid, line.tick {
  stroke-width : 0.5pt;
  stroke : #999999;
}
text.tick {
  fill : black;
}
line.gridx {
  stroke-width : 0px;
}
rect.background {
  fill : none;
  fill : #EEEEEE;
  stroke : 0pt;
}
.crosshairs line {
  stroke : #333333;
  stroke-width : 0.5pt;
  stroke-dasharray : 5,5;
}
