
body {
  background : #404040;
}
svg {
  background : #404040;
}
svg * {
  font-family : Corbel, Helvetica, sans-serif;
  font-size : 12px;
}
path, line {
  stroke : #505050;
  stroke-width : 1pt;
  fill : none;
}
line.grid, line.tick {
  stroke-width : 0.5pt;
  stroke : #505050;
}
text {
  fill: #BBBBBB;
}
line.gridx {
  stroke-width : 0px;
}
rect.background {
  fill : none;
  stroke : 0pt;
}
.crosshairs line {
  stroke : #707070;
  stroke-width : 0.5pt;
  stroke-dasharray : 5,5;
}

.graph-bar .axisline {
  stroke-width : 0pt;
}
